/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.hidden{
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}
.grid {
  width: 462px;
  /* height: 514px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 48px;
  border: 1px solid black;
  background: #ccc;
}

.cell {
  flex: 0 0 20px;
  /* width: 20px; */
  height: 20px;
  border: 1px solid black;
}

/* Scoreboard*/
.scoreboard{
  display: flex;
  /* justify-content: space-around; */
}

.currentScore-header{
  margin-right: 10rem;
  display: flex;
}

.highScore-header{
  display: flex;
}

.currentScore{
  margin-left: .5rem;
}

.highScore{
  margin-left: .5rem;
}

.apple{
  background-color: red;
}
